<div class="center">
<div  class="links">
    <span>Wieslaw Zych Hompeage</span><br>
   <div style="padding-top: 10px;">
    <a style="padding-top: 10px;" href="/">Blog</a>｜
    <a href="/">About</a>｜
    <a href="/">CV</a>
</div>
</div>
</div>
