<div class="center">
<div  class="links">
    <span>Wieslaw Zych Hompeage</span><br>
   <div style="padding-top: 10px;">
    <a style="padding-top: 10px;" href="/">Blog </a>｜
    <a href="/projects">Projects </a>｜
    <a href="mailto:wieslaw@zych.co.uk">Contact/Email </a>｜
    <a href="/WieslawZychCV.pdf">CV </a>
    
</div>
</div>
</div>
